<ion-view view-title="Creation">
    <ion-content class="creation">
      <form>
            <div class="block"><div class="name_imput">Name:</div>
                <div>
                    <input ng-model="newTodo.name":"{{todo.name}}" placeholder="Type Name" required></input>
                </div>
            </div>
            <hr>
            <div  class="block"><div class="name_imput">Description:</div>
                <div>
                    <input ng-model="newTodo.description":"{{todo.description}}" placeholder="Type Description" ></input>
                </div>
            </div>
            <hr>
            <div  class="block"><div class="name_imput">Date:</div>
                <div>
                    <input type="date" min="1940-01-01" ng-model="newTodo.date":"{{todo.date}}" required></input>
                </div>
            </div>
            <hr>
                <div class="wrapper"><p class="tasks_creation">Task(Click to change):</p><div ng-class="{'new':newTodo.type===1, 'in_progress':newTodo.type===2, 'done':newTodo.type===3}" ng-click="classCreationChange()"></div></div>
            <hr>
            <div>
                <div class="buttons">
                    <div class="button_new_camera">
                        <div class="icon-center ion-camera" ng-click="takePicture()"></div>
                    </div>
                        <a href="#/menu/tab/todos" class="button_new_save" ng-click="addTodo(newTodo)">
                            <div class="button_inside_another">Save</div>
                        </a>
                    <div class="button_new_download">
                        <div class="icon-center ion-archive" ng-click="choosePhoto()"></div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
                    <img ng-show="!imgURI || navigator.connection.type != Connection.NONE" ng-src="http://placehold.it/290x290/99cccc.jpg&text=Image">
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
