<ion-view view-title="Edit">
  <ion-content>
          <div class="block">Name:
              <div class="input_first">
                  <input ng-model="newTodo.name":"{{todo.name}}" placeholder="Type Name" required></input>
              </div>
          </div>
          <hr>
          <div  class="block">Description:
            <div class="input_second">
              <input ng-model="newTodo.description":"{{todo.desription}}" placeholder="Type Description" ></input>
            </div>
          </div>
          <hr>
          <div  class="block">Date:
            <div class="input_third">
              <input type="date" min="1940-01-01" ng-model="newTodo.date":"{{todo.date}}" required></input>
            </div>
          </div>
          <hr>
          <div class="wrapper"><p class="tasks">Tasks:</p><div  class="new"></div></div>
          <hr>
          <div>
            <div class="buttons">
              <button class="button icon-left ion-camera button-positive" ng-click="getPicture(1);" style="padding-left:16px;"></button>
              <button class="button icon-left ion-cube button-positive" ng-click="getPicture(0);" style="padding-left:16px;"></button>
            </div>
          </div>
          <div>
            <div>
              <img class="full-image" ng-src="{{todo.image ||  './img/first.jpg'}}">
            </div>
          </div>
          <div class="add">
              <button class="button button-positive" ng-click="addTodo(newTodo)">Save</button>
          </div>
  </ion-content>
</ion-view>
