<ion-view view-title="Settings">
    <ion-content ng-class="(settings.side===true) ? 'settings' : 'settings_another'">
            <div class="settings_title_block">
                <h2 ng-class="(settings.side===true) ? 'settings_title' : 'settings_title_another'">Choose Side</h2>
            </div>
            <div class="box">
            </div>
                <ion-toggle ng-class="(settings.side===true) ? 'switch' : 'switch_another'" toggle-class="toggle-positive" ng-model="settings.side"></ion-toggle>
            <div class="delete_button">
                <div class="button_new_delete_all">
                    <div class="button_inside" ng-click="removeTodoAll()">Delete All</div>
                </div>
            </div>
    </ion-content>
</ion-view>
