<ion-view view-title="Settings">
    <ion-content class="settings">
            <div class="settings_title_block">
                <h2 class="settings_title">Choose Side</h2>
            </div>
            <div class="box">
            </div>
                <ion-toggle class="switch" toggle-class="toggle-dark" ng-model="My_factory.side"></ion-toggle>
            <div class="delete_button">
                <div class="button_new_delete_all">
                    <div class="button_inside">Delete All</div>
                </div>
            </div>
    </ion-content>
</ion-view>
