<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="All todo" icon-off="ion-ios-film-outline" icon-on="ion-ios-film">
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Create new todo" icon-off="ion-android-add" icon-on="ion-android-add-circle">
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-android-star-outline" icon-on="ion-android-star">
  </ion-tab>


</ion-tabs>
