<ion-view  view-title="All Todos">
    <!-- <ion-nav-buttons side="primary">
      <a nav-direction="swap" href="#/menu/tab/todos/todo"><button class="button button-balanced">Go</button></a>
    </ion-nav-buttons> -->
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="todo in todos track by $index" type="item-text-wrap" href="#/menu/tab/todos/{{todo.id}}">
              <div class="wrapper"><h5><span class="todo_name">{{todo.name}} </span><span class="todo_description">{{todo.description}}</span></h5></div>
              <div class="wrapper"><p class="tasks" ng-click="classChange(todo)">Tasks:</p><div ng-class="{'new':todo.type===1, 'in_progress':todo.type===2, 'done':todo.type===3}" ng-click="classChange(todo)"></div></div>
              <div class="delete"><button class="button icon-right ion-android-close button-assertive" ng-click="removeTodo($index)" style="padding-right:17px;"></button>
                <!-- <a href="#/menu/tab/todos/todo"><button class="button button-balanced">Go</button></a> -->
                <!-- <a nav-direction="swap" href="#/menu/tab/todos/todo"><button class="button button-balanced">Go</button></a> -->
              </div>
            </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
