/* Empty. Add your own CSS if you like */

.content {
    background-color: $dark-white-grey;
}
.another-content {
    background-color: $light-blue;
}

.header {
    background-color: $dark-grey;
}
.another-header {
    background-color: $indigo;
}

.title-sidemenu {
    padding-top: 20px;
    color: $white;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: $gotika;
}
.sidemenu-name-little {
    width: 70px;
    text-align: left;
    float: left;
    font-family: $gotika;
}
.sidemenu-name {
    color: $yellow;
    font-size: 17px;
    font-weight: 900;
    font-family: $gotika-mono;
}
.tasks-sidemenu {
    color: $yellow;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 900;
    font-family: $gotika-mono;
}
.wrapper {
    display: flex;
    width: 100%;
    padding: 10px;
}
.place {
    padding-top: 20px;
    padding-left: 20px;
}
.todos-name-little {
    float: left;
    width: 100px;
    color: $white-blue;
    text-align: left;
    font-size: 15px;
    font-weight: 700;
    font-family: $gotika-mono;
}
.tasks {
    padding-top: 13px;
    color: $white-blue;
    font-size: 15px;
    font-weight: 700;
    font-family: $gotika-mono;
}
.delete {
    float: right;
    margin-top: -50px;
}

.add {
    background-color: $little-light-grey;
}

.my-tabs {
    padding-bottom: 30px;
    .tab-nav {
        font-size: 20px;
        height: 70px;
        background-color: $light-black;
    }
    .icon {
        font-size: 40px;
    }
    .tab-item {
        color: white;
        border-bottom-color: white;
        &.tab-item-active {
            color: $cyan;
            border-bottom-color: $cyan;
        }
    }
    span.tab-title.ng-binding {
        font-size: 13px;
    }
}
.another-tabs {
    .tab-nav {
        background-color: $blue-cyan;
        height: 70px;
    }
    .icon {
        font-size: 40px;
    }
    span.tab-title.ng-binding {
        font-size: 13px;
    }
    .tab-item {
        color: $white;
        border-bottom-color: white;
        &.tab-item-active {
            color: $light-yellow;
            border-bottom-color: $light-yellow;
        }
    }
}

.another-class {
    background-color: $dark-grey;
    .item {
        background-color: $indigo;
        border-color: $dark-blue;
    }
    .item-content {
        background-color: $indigo;
        &.activated {
            background-color: $indigo;
        }
    }
}
.my-class {
    background-color: $dark-grey;
    .item {
        background-color: $dark-grey;
        border-color: $almost-black;
    }
    .item-content {
        background-color: $little-dark-grey;
        &.activated {
            background-color: $almost-black;
        }
    }
}
