<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>

        <ion-header-bar ng-class="(settings.side===true) ? 'another_header' : 'header'" ng-style="{'justify-content': settings.side ? 'flex-end' : 'flex-start'}">
            <!-- <ion-nav-back-button>
            </ion-nav-back-button> -->
              <div class="button_sidemenu">
                  <div class="icon ion-navicon" ng-click="openSideMenu(settings.side)"></div>
              </div>
                  <!-- <a  href="#/menu/tab/creation"><button class="button button-balanced">Edit</button></a> -->
        </ion-header-bar>

        <ion-nav-view>
        </ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="right" is-enabled="settings.side">

        <ion-header-bar class="another_header">
        </ion-header-bar>

        <ion-content class="another_content">
            <h2 class="title_sidemenu">Tasks</h2>
            <ul>
                <li class="li" ng-repeat="todo in todos track by $index">
                  <hr>
                  <div class="wrapper">
                      <h5><span class="sidemenu_name"><div class="sidemenu_name_little">Name:</div> {{todo.name}}</span></h5>
                  </div>
                  <div class="wrapper"><p class="tasks_sidemenu" ng-click="classChange(todo)">Task:</p><div ng-class="{'new':todo.type===1, 'in_progress':todo.type===2, 'done':todo.type===3}" ng-click="classChange(todo)"></div></div>
                </li>
            </ul>
        </ion-content>

    </ion-side-menu>

    <ion-side-menu side="left" is-enabled="!settings.side">

        <ion-header-bar  class="header">
        </ion-header-bar>

        <ion-content class="content">
            <h2 class="title_sidemenu">Tasks</h2>
            <ul>
                <li class="li" ng-repeat="todo in todos track by $index">
                  <hr>
                  <div class="wrapper">
                      <h5><span class="sidemenu_name"><div class="sidemenu_name_little">Name:</div> {{todo.name}}</span></h5>
                  </div>
                  <div class="wrapper"><p class="tasks_sidemenu" ng-click="classChange(todo)">Task:</p><div ng-class="{'new':todo.type===1, 'in_progress':todo.type===2, 'done':todo.type===3}" ng-click="classChange(todo)"></div></div>
                </li>
            </ul>
        </ion-content>

    </ion-side-menu>

</ion-side-menus>
