<ion-view  view-title="Edit">
  <ion-content class="creation">
    <div class="buttons">
      <div class="button_new_camera">
        <div class="icon-center ion-camera" ng-click="takePicture()"></div>
      </div>
      <div class="button_new_save" nav-direction="forward" ng-click="rewriteTodo(todo)">
        <div class="button_inside_another">Edit</div>
      </div>
      <div class="button_new_download">
        <div class="icon-center ion-archive" ng-click="choosePhoto()"></div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <img ng-show="imgURI" ng-src="{{imgURI}}">
      <img ng-show="!imgURI || navigator.connection.type != Connection.NONE" ng-src="http://placehold.it/300x300/99cccc.jpg&text=Image">
    </div>
  </div>
    <div class="block"><div class="name_imput">Name:</div>
        <div>
            <input ng-model="todo.name":"{{todo.name}}" placeholder="Type Name" required></input>
        </div>
    </div>
    <hr>
    <div  class="block"><div class="name_imput">Description:</div>
        <div>
            <input ng-model="todo.description":"{{todo.description}}" placeholder="Type Description" ></input>
        </div>
    </div>
    <hr>
    <div  class="block"><div class="name_imput">Date:</div>
        <div>
            <input type="date" min="1940-01-01" ng-model="todo.date":"{{todo.date}}" required></input>
        </div>
    </div>
    <hr>
        <div class="wrapper"><p class="tasks_creation">Task(Click to change):</p><div ng-class="{'new':todo.type===1, 'in_progress':todo.type===2, 'done':todo.type===3}" ng-click="classChange(todo)"></div></div>
    <hr>
    <div>
    <div class="buttons">
        <a class="button_new_back" nav-direction="forward" href="#/menu/tab/todos/{{todo.id}}">
            <div class="button_inside_another">Back</div>
        </a>
        <a class="button_new_all_todos" nav-direction="forward" href="#/menu/tab/todos">
            <div class="button_inside">All Todos</div>
        </a>
    </div>
  </ion-content>
</ion-view>
