<ion-view view-title="Todo">
    <ion-content  ng-class="(settings.side===true) ? 'todo_content' : 'todo_content_another'">
        <div class="todo">
            <div class="wrapper">
                <h5><span class="todo_name"><div class="todo_name_little">Name:</div> {{todo.name}}</span></h5>
            </div>
        </div>
        <div class="todo">
            <div class="wrapper" ng-show="todo.description">
                <h5><div><span class="todo_name_description"><div class="todo_name_little">Discription:</div> {{todo.description}}</span></h5></div>
            </div>
        </div>
        <div class="todo">
            <div class="wrapper">
                <h5>
                    <div><span class="todo_name_date"><div class="todo_name_little">Date:</div>{{todo.date | date: 'MM-dd-yyyy'}}</span></div>
                </h5>
            </div>
        </div>
        <div class="todo">
            <div class="wrapper">
                <p class="tasks_todo">Tasks(Click):</p>
                <div  ng-class="{'new':todo.type===1, 'in_progress':todo.type===2, 'done':todo.type===3}" ng-click="classChange(todo)"></div>
              </div>
        </div>
        <div class="todo">
            <img ng-show="todo.image" ng-src="{{todo.image}}">
        </div>
        <div class="todo_buttons">
            <div class="todo_button">
                <a class="button_new_back_todo" nav-direction="forward" href="#/menu/tab/todos">
                    <div class="button_inside_todo">Back</div>
                </a>
            </div>
            <div class="todo_button">
                <a class="button_new_edit" href="#/menu/tab/todos/{{todo.id}}/edit">
                    <div class="button_inside_todo">Edit</div></button>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
