<ion-view view-title="{{todo.name}}">
    <ion-content>
        <div class="wrapper"><h5><span class="todo_name">{{todo.name}}</span></h5></div>
        <div class="wrapper"><h5><div><span class="todo_name">{{todo.description}}</span></h5></div>
        <div class="wrapper"><h5><div><span class="todo_name">{{todo.date}}</span></h5></div>
        <div class="wrapper"><p class="tasks">Tasks:</p><div  ng-class="{'new':todo.type===1, 'in_progress':todo.type===2, 'done':todo.type===3}" ng-click="classChange(todo)"></div></div>
        <div>{{todo.picture}}</div>
        <div class="delete"><a href="#/menu/tab/todos"><button class="button button-balanced">Go</button></a>
        </div>
    </ion-content>
</ion-view>
