/* Empty. Add your own CSS if you like */
.content {
    background-color: #607D8B;
}
.title_sidemenu {
    text-align: center;
    color: #FFFAF0;
    font-weight: 800;
    font-size: 30px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, serif;
}
.sidemenu_name_little {
    text-align: left;
    width: 70px;
    float: left;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, serif;
}
.sidemenu_name {
    font-size: 17px;
    color: #FFFF00;
    font-weight: 900;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, monospace;
}
.tasks_sidemenu {
    color: #FFFAF0;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, monospace;
    font-weight: 900;
    margin-top: 5px;
    font-size: 18px;
}
.all_todos {
    background: #4169E1;
}
.wrapper {
    display: flex;
    width: 100%;
    padding: 10px;
}
.li {
    width: 100%;
}
.center {
    text-align: center;
}


.todo_content {
  background: #303F9F;
}
.todo_name {
    font-size: 20px;
    color: #FFFF00;
    font-weight: 700;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, monospace;
}
.todo_name_description {
    font-size: 20px;
    color: #800080;
    font-weight: 700;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, monospace;
}
.todo_name_date {
    font-size: 20px;
    color: #FF0000;
    font-weight: 700;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, monospace;
}
.todo_descrition {
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, monospace;
}
.todo_name_little {
    text-align: left;
    width: 150px;
    float: left;
}
.button_into {
  font-size: 24px;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, monospace;
}
.todo_first {
    background-color: #607D8B;
}
.todo_second {
    background-color: #E9E9E9;
}
.todo_third {
    background-color: #CFD8DC;
}
.todo_fourth {
    background-color: #607D8B;
}
.todo_fifth {
    background-color: #455A64;
}
.todo_buttons {
    background-color: #757575;
    display: flex;
    justify-content: space-between;
}
.todo_button {
    margin: 10px;
    padding: 10px;
}
.delete {
    margin-right: -30px;
    margin-top: -60px;
    float: right;
}

.todos_name {
    font-size: 15px;
    color: #FFFF00;
    font-weight: 700;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, monospace;
}
.todos_description {
    color: black;
    font-weight: 700;
    font: italic 16px Georgia;
}
.place {
    padding-top: 20px;
    padding-left: 20px;
}
.todos_name_little {
    text-align: left;
    width: 100px;
    font-weight: 700;
    float: left;
    color: #F5FFFA;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, monospace;
    font-size: 15px;
}
.tasks {
    padding-top: 5px;
    font-size: 15px;
    color: #F5FFFA;
    font-weight: 700;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, monospace;
}
.new {
    background-color: #191970;
    border-radius: 30px;
    width: 30px;
    height:30px;
    margin-left: 10px;
    border-radius: 30px;
}
.in_progress {
    border-radius: 30px;
    background-color: yellow;
    width: 30px;
    height:30px;
    margin-left: 10px;
    border-radius: 30px;
}
.done {
    border-radius: 30px;
    background-color: red;
    width: 30px;
    height:30px;
    margin-left: 10px;
    border-radius: 30px;
}

.block {
    display: flex;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 20px;
    color: #000080;
    font-weight: 700;
}
.name_imput {
    text-align: left;
    width: 200px;
}
input {
    border-color: #F5F5DC;
    border-width: thick;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: #DCDCDC;
}
.add {
    background-color: #DCDCDC;
}

.delete_button {
    padding: 20px;
}

button {
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
}

.creation {
    background-color: #DCDCDC;
}
.tasks_creation {
    padding-top: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #000080;
}

.settings {
    background: #212121;
}
.switch {
    background: #BDBDBD;
    padding: 30px;
    text-align: center;
}
.settings_title_block {
    padding-top: 10px;
}
.settings_title {
  text-align: center;
  color: #FFFAF0;
  font-weight: 800;
  font-size: 30px;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, serif;
}
.delete_button_inside {
    padding: 25px 40px 25px 40px;
    font-weight: 800;
    font-size: 30px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, serif;
}
