<ion-view ng-class="(settings.side===true) ? 'all-todos' : 'all-todos-another'" view-title="All Todos">
    <ion-content>
        <ion-list  ng-class="(settings.side===true) ? 'another-class' : 'my-class'">
            <ion-item ng-repeat="todo in todos track by $index" type="item-text-wrap">
                <div class="wrapper" ui-sref="menu.tab.todo({todoIndex: $index})">
                    <h5>
                        <div class="todos-name-little">Name:</div><span class="todos-name">{{todo.name}}</span>
                        <div  ng-show="todo.description"  class="place">
                            <span ng-class="(settings.side===true) ? 'todos-description-another' : 'todos-description'">"{{todo.description}}"</span>
                        </div>
                    </h5>
                </div>
                <div class="wrapper">
                    <h1 class="tasks" ng-click="classChange(todo)">Task:</h1>
                    <a nav-direction="forward">
                        <div ng-class="{'new':todo.type===1, 'in-progress':todo.type===2, 'done':todo.type===3}" ng-click="classChange(todo)"></div>
                    </a>
                </div>
                <div class="delete">
                    <a nav-direction="forward">
                        <div class="button-new-delete" ng-click="removeTodo($index)">
                            <div  class="icon-right ion-android-close"></div>
                        </div>
                    </a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
